# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#--------------------add the directories here to ignore---------------------
data/*
outputs/*
models/tape_rao/outputs/*
models/sequnet_dunham/outputs/*
models/sequnet_dunham/freq_classifier*
models/esm_rives/outputs/*

models/dbnsfp/inputs/*
models/dbnsfp/outputs/*
models/dbnsfp/datasets_pathogenicity/*
models/dbnsfp/datasets_population_freq/*

models/bioembeddings_dallago/outputs/*

models/aa_common/datasets_pathogenicity/*
models/aa_common/datasets_pmd_analysis/*
models/aa_common/datasets_population_freq/*
models/aa_common/merged_predictions/*
models/aa_common/performance_analysis/*
models/aa_common/merged_np_nm_seq/*
models/aa_common/pred_scores_distribution_plots_pmd_analysis/*
models/aa_common/pred_scores_distribution_plots_popu_freq_analysis/*
models/aa_common/pred_scores_distribution_plots_pathogenicity_analysis/*
models/aa_common/conservation_vs_model_preds_plots/*
models/vespa_marquet/outputs/*
models/vespa_marquet/logodds*
models/vespa_marquet/cache/*
models/aa_common/datasets_pmd_analysis_prev/*
models/dbnsfp/datasets_pmd/*
models/aa_common/pred_scores_distribution_plots_pmd_human_analysis/*
models/aa_common/pred_scores_distribution_plots_pmd_nonhuman_analysis/*
models/aa_common/violin_plots_pathogenicity_analysis/*
models/aa_common/violin_plots_pmd_analysis/*
models/aa_common/violin_plots_popu_freq_analysis/*
models/aa_common/mut_allele_freq_vs_model_preds_plots/*
models/aa_common/models_scores_pcc_plot/
models/aa_common/datasets_pmd_analysis_prev_1/*
models/aa_common/datasets_pathogenicity_prev/*
models/dbnsfp/datasets/*
argo_logs/*
models/dbnsfp/postprocessed_outputs/*
models/dbnsfp/dbnsfp_outputs/*
models/rostlab_huggingface/outputs/*
models/tape_rao/cache/*
models/tape_tf_rao/*
models/jax_unirep/outputs/*